.layout {
  height: 100%;

  .logo {
    height: 64px;
    background-color: #ffc100;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-menu-item {
    margin-bottom: 16px;
    .iconSize {
      font-size: 20px;
    }
  }
  .ant-menu-item-selected {
    color: #333; /* 设置选中菜单项的文字颜色 */
  }

  .ant-menu-item-selected .iconSize {
    color: #333; /* 设置选中菜单项的图标颜色 */
  }
  .header-right {
    display: flex;
    align-items: center;
    .business-status {
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
    .business-status:hover {
      background-color: rgba(255, 255, 255, 0.5);
      //鼠标样式
      cursor: pointer;
    }

    .personnel-menu {
      background-color: rgba(255, 255, 255, 0.5);
      width: 120px;
      height: 32px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;
      margin-left: 20px;
    }
    .personnel-setting:hover {
      background-color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
    .personnel-menu:hover .icon-state {
      transform: rotate(180deg); /* 旋转180度 */
    }
  }
}
