.classification-management {
  padding: 6px 24px;
  background-color: #fff;
}
.classification-management-toolbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  .toolbar-lift {
    display: flex;
  }
  .toolbar-input {
    width: 320px;
    height: 40px;
    margin-right: 16px;
    .search-icon {
      font-size: 16px;
      color: #999;
    }
  }
  .toolbar-select {
    width: 320px;
    height: 40px;
  }
  .toolbar-button {
    color: #333;
  }
}
